<% include include/header.ejs %>
<% if (room.gameover === 1) { %>
	승리!!!
	<a href="/">메인으로 가기</a>
<%} else if (room.gameover === -1) { %>
	패배!!!
	<a href="/">메인으로 가기</a>
<%} else { %>
	<div class="container room">
	<% if (room.start === "대기") { %>
		<h2>생성 시간 : <%= room.name %></h2>
		<ul>
			<li>방장 : <%= room.admin %></li>
			<li>참여인원 : <%= room.member.length %>/<%= room.maxMember %></li>
			<li>참가자 :
				<% for (i = 0; i < room.member.length; i++) { %>
				<%= room.member[i] + " " %>
				<% } %>
			</li>
			<li>상태 : <%= room.start %></li>
		</ul>
		<%
		if (user) {
		    var count = 0;
		    for (i = 0; i < room.member.length; i++) {
		        if (room.member[i] === user.user_nick) {
		            count = count + 1;
		        }
		    }
		}
	   	 %>
		<% if (room.member.length !== room.maxMember && count === 0) { %>
			<form action="/joinRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="참가하기" /></form>
		<% } else if (count !== 0 && room.admin !== user.user_nick) { %>
			<form action="/leaveRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="나가기" /></form>
		<% } if (room.admin === user.user_nick && room.member.length > 1 && room.start !== "진행 중") { %>
			<form action="/startRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="시작" /></form>
		<% } if (room.admin === user.user_nick && room.member.length === 1 && room.start !== "진행 중") { %>
			<form action="/startRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="싱글플레이" /></form>
		<% } if (room.admin === user.user_nick && room.start !== "진행 중") { %>
			<form action="/deleteRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="방폭" /></form>
		<% } %>
	<% } else { %>
		<%= user.user_nick %>
		<h3>라운드 <%= room.round %></h3>
		<h3>현재 턴 : <%= room.player[(room.currentTurn-1)%room.member.length].nick %></h3>
		<% if (room.player[(room.currentTurn-1)%room.member.length].nick === user.user_nick) { %>
			<% if (room.action > 0) { %>
			<script>
				$(function() {
					//현재 턴
					$(".board td").addClass("active");
				});
			</script>
			<% } %>
			<% if (user) { %>
				<ul>
					<li>남은 액션 포인트 : <%= room.action %><li>
					<li>총 턴 수 : <%= room.currentTurn %></li>
				</ul>
				<% if (room.action === 0) { %>
					<form action="/turnEnd?roomId=<%= room._id %>" id="endTurn" method="post" style="padding-top:10px"><input type="submit" value="턴 넘기기" /></form>
				<% } %>
				<form action="/pass?roomId=<%= room._id %>" id="pass" method="post" style="padding:10px 0"><input type="submit" value="라운드 패스" /></form>
			<% } %>
		<% } %>
		<% for (i =0; i<room.player.length; i++) {%>
			<div class="box">
				<h3 class="player<%= i %>">Player <%= i+1 %> : <%= room.player[i].nick %></h3>
				<ul>
					<li>점수 : <%= room.player[i].score %></li>
					<li>에너지 : <%= room.player[i].energy %></li>
					<li>골드 : <%= room.player[i].gold %></li>
					<li>골드수입 : <%= room.player[i].incGold %></li>
					<li>에너지수입 : <%= room.player[i].incEnergy %></li>
					<li>총 데미지 : <%= room.player[i].damage %></li>
				</ul>
			</div>
		<% } %>
		<ul class="box_round">
		<% for (i = 0; i < room.rmt.length; i++) { %>
			<li class="roundbox">
				<h3 class="<% if (i === room.round - 1) {%> b <% } %>">Round <%= i + 1 %></h3>
					<% switch (room.rmt[i]) {
						case 1 : %> 1단계 대포를 지으면 지을때마다 3점
						<% break;
						case 2 : %> 2단계 대포를 지으면 지을때마다 3점
						<% break;
						case 3 : %> 3단계 대포를 지으면 지을때마다 5점
						<% break;
						case 4 : %> 20데미지 달성시 10점(미구현)
						<% break;
						case 5 : %> 건물 5개 지으면 10점
						<% break;
					} %>
			</li>
		<% } %>
		</ul>
		<div class="boss">
			<h3>B O S S </h3>
			<ul>
				<li>체력 : <%=room.boss%></li>
			</ul>
		</div>
		<table class="board">
			<% for (var i = 1; i <= 10; i++) { %>
			
				<tr>
					<% for (var j = 1; j <= 10; j++) { %>
						<td><a href="#n" class="p_<%= i %>_<%= j %>"><span><%= i %>-<%= j %></span><br />
						<p class="<% for (var k=0;k<room.player.length;k++){if (room.build[(i-1)*10+j].owner === room.player[k].nick){%>player<%= k %><% }} %>"><%= room.build[(i-1)*10+j].level %></p></a></td>
					<% } %>
				</tr>
			<% } %>
		</table>
		<div class="layer_action">
			<span></span>
			<p></p>
			<a href="#n" class="cancel">취소</a>
		</div>
		
	<% } %>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(function() {
			$(".board .active a").click(function(e) {
				e.preventDefault();
				var location = this.getElementsByTagName('span')[0].innerText;
				var level = this.getElementsByTagName('p')[0].innerText;
				var row = parseInt(location.substring(0,this.text.indexOf('-')));
				var col = parseInt(location.substring(this.text.indexOf('-') + 1,this.text.indexOf('-') + 3));
				var locIndex=(row - 1) * 10 + col;
				//if ( === )
				var test = "."+$(this)[0].className+" p";
				var num= <% for (var i = 0; i < room.player.length; i++) {
					if ( user.user_nick === room.player[i].nick ) {
						%><%=i%>
					<%}}%>;
						//alert(i);
				if ($(test)[0].className === "player"+num || $(test)[0].className === ""){
					//alert('성공');
					$(".layer_action").fadeIn(200);
	      				$(".layer_action").css({"top":$(this).offset().top + 30, "left":$(this).offset().left + 30},100);
	      				$(".layer_action span").html(location);
	      				$(".layer_action span").removeAttr("class");
					$(".layer_action span").addClass($(this)[0].className + " lv_"+level);
					if ($(".layer_action span").hasClass("lv_0")) {
	      					$(".layer_action p").html('<a href="/produce?roomId=<%=room._id%>&level=1&locIndex='+locIndex+'" class="build">생산</a> 비용 : 10골드 + 2에너지');
	      				} else if ($(".layer_action span").hasClass("lv_1")) {
	      					$(".layer_action p").html('<a href="/produce?roomId=<%=room._id%>&level=2&locIndex='+locIndex+'" class="build">업그레이드</a> 비용 : 20골드 + 3에너지');
	      				} else if ($(".layer_action span").hasClass("lv_2")) {
	      					$(".layer_action p").html('<a href="/produce?roomId=<%=room._id%>&level=3&locIndex='+locIndex+'" class="build">업그레이드</a> 비용 : 50골드 + 5에너지');
					}
				}
				else;
					//alert('실패'+$(test)[0].className);
			});
			$(".layer_action a.cancel").click(function(e) {
				e.preventDefault();
				$(".layer_action").fadeOut(200);
			});
				
		});
		//소켓;턴넘길때 소리 재생
		
		var socket = io.connect('http://localhost:3000');
		socket.emit('send id', '<%=user.user_nick%>');
		/*
		$('#endTurn').on('submit', function(e){
			<% if(room.player.length) {%>
				socket.emit('end turn', '<%=room.player[room.currentTurn%room.member.length].nick%>');
			<%}%>
		});
		*/
		socket.on('alert', function(e){
			var audio = new Audio('https://player.bgmstore.net/k9l2X/mp4');
			audio.play();
			setTimeout(function(){location.href="/room?roomId=<%=room._id%>";},3000);
			//location.href="/room?roomId=<%=room._id%>";
		});
	</script>
<% } %>
<% include include/footer.ejs %>