<% include include/header.ejs %>

	<div class="container room">
	<% if (room.start === "대기") { %>
		<h2>생성 시간 : <%= room.name %></h2>
		<ul>
			<li>방장 : <%= room.admin %></li>
			<li>참여인원 : <%= room.member.length %>/<%= room.maxMember %></li>
			<li>참가자 :
				<% for (i = 0; i < room.member.length; i++) { %>
				<%= room.member[i] + " " %>
				<% } %>
			</li>
			<li>상태 : <%= room.start %></li>
		</ul>
		<%
            if (user) {
                var count = 0;
                for (var i = 0; i < room.member.length; i++) {
                    if (room.member[i] === user.user_nick) {
                        count = count + 1;
                    }
                }
            }
        %>
		<% if (room.member.length !== room.maxMember && count === 0) { %>
			<form action="/joinRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="참가하기" /></form>
		<% } else if (count !== 0 && room.admin !== user.user_nick) { %>
			<form action="/leaveRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="나가기" /></form>
		<% } if (room.admin === user.user_nick && room.member.length > 1 && room.start !== "진행 중") { %>
			<form action="/startRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="시작" /></form>
		<% } if (room.admin === user.user_nick && room.member.length === 1 && room.start !== "진행 중") { %>
			<form action="/startRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="싱글플레이" /></form>
		<% } if (room.admin === user.user_nick && room.start !== "진행 중") { %>
			<form action="/deleteRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="방폭" /></form>
		<% } %>
	<% } else { %>
		<%= user.user_nick %>
		<h3>현재 턴 : <%= room.turn[(room.currentTurn-1)%room.member.length] %></h3>
		<% if (room.turn[(room.currentTurn-1)%room.member.length] === user.user_nick) { %>
			<% if (room.action > 0) { %>
			<script>
				$(function() {
					//현재 턴
					$(".board td").addClass("active");
				});
			</script>
			<% } %>
			<% if (user) { %>
				<ul>
					<li>남은 액션 포인트 : <%= room.action %><li>
					<li>총 턴 수 : <%= room.currentTurn %></li>
				</ul>
				<form action="/turnEnd?roomId=<%= room._id %>" id="endTurn" method="post"><input type="submit" value="턴 넘기기" /></form>
			<% } %>
		<% } %>
		<table class="board">
			<% for (i = 1; i <= 10; i++) { %>
			
			<tr>
				<% for (j = 1; j <= 10; j++) { %>
				<td><a href="#n" class="p_<%= i %>_<%= j %>"><span><%= i %>-<%= j %></span><br />
				<p class="<% for (var k=0;k<room.turn.length;k++){if (room.build[(i-1)*10+j].owner === room.turn[k]){%>player<%= k %><% }} %>"><%= room.build[(i-1)*10+j].level %></p></a></td>
				<% } %>
			</tr>
			<% } %>
		</table>
		<div class="layer_action">
			<span></span>
			<p></p>
			<a href="#n" class="cancel">취소</a>
		</div>
		<div class="box">
			<h3 class="player0">Player 1 : <%= room.player_1.nick %></h3>
			<ul>
				<li>에너지 : <%= room.player_1.energy %></li>
				<li>골드 : <%= room.player_1.gold %></li>
			</ul>
		</div>
		<% if (room.player_2.nick !== null) { %>
		<div class="box">
			<h3 class="player1">Player 2 : <%= room.player_2.nick %></h3>
			<ul>
				<li>에너지 : <%= room.player_2.energy %></li>
				<li>골드 : <%= room.player_2.gold %></li>
			</ul>
		</div>
		<% } %>
	<% } %>
	</div>
	<script src="/socket.io/socket.io.js"></script>
    <script>
    	$(function() {
			$(".board .active a").click(function(e) {
			
				e.preventDefault();
				var location=this.getElementsByTagName('span')[0].innerText;
				var level=this.getElementsByTagName('p')[0].innerText;
				var row=parseInt(location.substring(0,this.text.indexOf('-')));
				var col=parseInt(location.substring(this.text.indexOf('-')+1,this.text.indexOf('-')+3));
				var locIndex=(row-1)*10+col;
				//if ( === )
				var test = "."+$(this)[0].className+" p";
				var i= <% for (var i = 0; i < room.turn.length; i++) {
					if ( user.user_nick === room.turn[i] ) {
						%><%=i%>
						<%}}%>;
						//alert(i);
				if ($(test)[0].className==="player"+i || $(test)[0].className===""){
					//alert('성공');
					$(".layer_action").fadeIn(200);
	      				$(".layer_action").css({"top":$(this).offset().top + 30, "left":$(this).offset().left + 30},100);
	      				$(".layer_action span").html(location);
	      				$(".layer_action span").removeAttr("class");
					$(".layer_action span").addClass($(this)[0].className + " lv_"+level);
					if ($(".layer_action span").hasClass("lv_0")) {
	      				$(".layer_action p").html('<a href="/produce?roomId=<%=room._id%>&level=1&locIndex='+locIndex+'" class="build">생산</a> 비용 : 10골드 + 2에너지');
	      				} else if ($(".layer_action span").hasClass("lv_1")) {
	      				$(".layer_action p").html('<a href="/produce?roomId=<%=room._id%>&level=2&locIndex='+locIndex+'" class="build">업그레이드</a> 비용 : 20골드 + 3에너지');
	      				} else if ($(".layer_action span").hasClass("lv_2")) {
	      				$(".layer_action p").html('<a href="/produce?roomId=<%=room._id%>&level=3&locIndex='+locIndex+'" class="build">업그레이드</a> 비용 : 50골드 + 5에너지');
					}
				}
				else;
					//alert('실패'+$(test)[0].className);
			});
			$(".layer_action a.cancel").click(function(e) {
				e.preventDefault();
				$(".layer_action").fadeOut(200);
			});
				
		});
		//소켓;턴넘길때 소리 재생
		var socket = io.connect('http://localhost:3000');
		socket.emit('send id', '<%=user.user_nick%>');
		$('#endTurn').on('submit', function(e){
			socket.emit('end turn', '<%=room.turn[room.currentTurn%room.member.length]%>');
		});
		socket.on('alert', function(e){
			var audio = new Audio('https://player.bgmstore.net/k9l2X/mp4');
			audio.play();
			setTimeout(function(){location.href="/room?roomId=<%=room._id%>";},3000);
			//location.href="/room?roomId=<%=room._id%>";
		});
	</script>
<% include include/footer.ejs %>